h1 {
    color: blue;
}
h2 {
    color: red;
}
h3 {
    color: blue;
}
h4 {
    color: aqua;
}
h5 {
    color: blueviolet;
}
h6 {
    color: red;
}
p {
    color: blue;
}
blockquote {
    color: red;
}
pre {
    color: blueviolet;
}
body {
    color: rgb(227, 250, 16);
}
body {
    color: purple;
}